@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

:root {
  --frame-width: 1440px;
  --nav-expanded-width: 240px;
  --nav-collapsed-width: 80px;
  --page-gutter: 24px;
  --page-padding-y: 32px;
  --content-max-width: 1120px;
}

.page-frame {
  width: 100%;
  max-width: var(--frame-width);
  margin: 0 auto;
}

.page-content {
  max-width: var(--content-max-width);
}

.page-gutter {
  padding-left: var(--page-gutter);
  padding-right: var(--page-gutter);
}
